<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>区-街道-班组管理</title>
    <link rel="stylesheet" href="__LAYUICSS__/layui.css">
    <link rel="stylesheet" href="__ADMINCSS__/ssbase.css">
    <link rel="stylesheet" href="__ADMINCSS__/style.css">
    <style>
       
    </style>
</head>
<body>
    <span class="layui-breadcrumb" lay-separator="/" >
        <a href="">基本信息</a>
        <a href=""> 区-街道-班组管理</a>
    </span>
    <div class="topLine">
        <p><span>城市选择：</span><button class="layui-btn layui-btn-small">上海市</button></p>
        <p>区县选择：<br/>
            <button class="layui-btn layui-btn-primary layui-btn-small maTop_10">黄浦区</button>
            <button class="layui-btn layui-btn-primary layui-btn-small maTop_10">虹口区</button>
            <button class="layui-btn layui-btn-primary layui-btn-small maTop_10">杨浦区</button>
            <button class="layui-btn layui-btn-primary layui-btn-small maTop_10">闸北区</button>
            <button class="layui-btn layui-btn-primary layui-btn-small maTop_10">普陀区</button>
            <button class="layui-btn layui-btn-primary layui-btn-small maTop_10">长宁区</button>
            <button class="layui-btn layui-btn-primary layui-btn-small maTop_10">静安区</button>
            <button class="layui-btn layui-btn-small maTop_10">徐汇区</button>
            <button class="layui-btn layui-btn-primary layui-btn-small maTop_10">浦东新区</button>
            <button class="layui-btn layui-btn-primary layui-btn-small maTop_10">闵行区</button>
            <button class="layui-btn layui-btn-primary layui-btn-small maTop_10">奉贤区</button>
            <button class="layui-btn layui-btn-primary layui-btn-small maTop_10">金山区</button>
            <button class="layui-btn layui-btn-primary layui-btn-small maTop_10">松江区</button>
            <button class="layui-btn layui-btn-primary layui-btn-small maTop_10">青浦区</button>
            <button class="layui-btn layui-btn-primary layui-btn-small maTop_10">嘉定区</button>
            <button class="layui-btn layui-btn-primary layui-btn-small maTop_10">宝山区</button>
            <button class="layui-btn layui-btn-primary layui-btn-small maTop_10">崇明区</button>
        </p>
        <div class="flex-box flex-2">
            <table class="layui-table" style="margin: 10px 30px">
                <colgroup>
                    <!-- 此处 width 按比例分割 -->
                    <col width="200">
                </colgroup>
                <thead>
                    <tr>
                        <th class="flex-box flex-b flex-col-c">
                            <span>徐汇区</span> 
                           <button class="layui-btn layui-btn-small layui-btn-normal layui-add1">新增街道</button>
                        </th>
                    </tr> 
                </thead>
                <tbody class="tbody1">
                    <tr>
                        <td class="flex-box flex-b"><span>龙华街道</span> <i class="layui-icon layui-edit">&#xe642;</i>  </td>
                    </tr>
                    
                </tbody>
            </table> 
            <table class="layui-table" style="margin: 10px 30px">
                <colgroup>
                    <!-- 此处 width 按比例分割 -->
                    <col width="200">
                    
                </colgroup>
                <thead>
                    <tr>
                    <th class="flex-box flex-b flex-col-c">
                        <span>徐汇区-龙华街道</span>
                        <button class="layui-btn layui-btn-small layui-btn-normal layui-add2">新增班组</button>
                    
                    </th>
                    
                    </tr> 
                </thead>
                <tbody class="tbody2">
                    <tr>
                        <td class="flex-box flex-b"><span>班组1</span> <i class="layui-icon layui-edit">&#xe642;</i>  </td>
                    </tr>
                    
                </tbody>
            </table> 
        </div>
    </div>   
</body>
<script src="__COMMONJS__/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="__ADMINJS__/layui/layui.js"></script>

<script src="__ADMINJS__/js/qu_street.js"></script>
</html>