<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>角色管理</title>
    <link rel="stylesheet" href="__LAYUICSS__/layui.css">
    <link rel="stylesheet" href="__ADMINCSS__/ssbase.css">
    <link rel="stylesheet" href="__ADMINCSS__/style.css">
    <style>
    
    </style>
</head>
<body>
    <span class="layui-breadcrumb" lay-separator="/" >
        <a href="">人员管理</a>
        <a href="">角色管理</a>
    </span>
    <div class="topLine">
        <div class="flex-box flex-2">
            <div style="margin-top: 15px">角色选择：</div>
            <div>
                <button class="layui-btn layui-btn-primary layui-btn-small">角色1</button>
                <button class="layui-btn layui-btn-primary layui-btn-small">角色1</button>
                <button class="layui-btn layui-btn-primary layui-btn-small">角色1</button>
                <button class="layui-btn layui-btn-primary layui-btn-small">角色1</button>
                <button class="layui-btn layui-btn-primary layui-btn-small">角色1</button>
                <button class="layui-btn layui-btn-primary layui-btn-small">角色1</button>
                <button class="layui-btn layui-btn-primary layui-btn-small">角色1</button>
                <button class="layui-btn layui-btn-small layui-btn-danger">角色1</button>
                <button class="layui-btn layui-btn-primary layui-btn-small">角色1</button>
                <button class="layui-btn layui-btn-primary layui-btn-small">角色1</button>
                <br/>   <!-- 10 个一组-->
                <button class="layui-btn layui-btn-primary layui-btn-small">角色1</button>
                <button class="layui-btn layui-btn-primary layui-btn-small">角色1</button>
                <button class="layui-btn layui-btn-primary layui-btn-small">角色1</button>
                <button class="layui-btn layui-btn-primary layui-btn-small">角色1</button>
                <button class="layui-btn layui-btn-primary layui-btn-small">角色1</button>
                <button class="layui-btn layui-btn-primary layui-btn-small">角色1</button>
                <button class="layui-btn layui-btn-primary layui-btn-small">角色1</button>
                <button class="layui-btn layui-btn-small new_role">新建角色</button>
                
            </div>
        </div>
        <hr>
        <p style="border: 1px solid skyblue">
            <button class="layui-btn layui-btn-small layui-btn-danger">角色1</button>
            <button class="layui-btn layui-btn-small layui-btn-warm">权限设置</button>
            <button class="layui-btn layui-btn-small layui-btn-danger" style="margin-left:300px ">删除该角色</button>
        </p>
        <div class="role_bg">
            <form class="layui-form" id="" action=""> 
                <div class="layui-form-item" style="margin-top: 20px;border-top: 1px solid #f6f6f6">
                    <label class="layui-form-label">
                        人员信息
                    </label>
                    <div class="flex-box flex-1">
                        <input type="checkbox" name="" title="角色设置" lay-skin="primary">
                        <input type="checkbox" name="" title="系统管理员管理" lay-skin="primary">
                        <input type="checkbox" name="" title="商户管理员管理" lay-skin="primary">
                        <input type="checkbox" name="" title="环卫工管理" lay-skin="primary">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 20px;border-top: 1px solid #f6f6f6">
                    <label class="layui-form-label">
                        基本信息
                    </label>
                    <div class="flex-box flex-1">
                        <input type="checkbox" name="" title="区域管理" lay-skin="primary">
                        <input type="checkbox" name="" title="设备管理" lay-skin="primary">
                        <input type="checkbox" name="" title="垃圾桶管理" lay-skin="primary">
                        <input type="checkbox" name="" title="垃圾桶-环卫工绑定" lay-skin="primary">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 20px;border-top: 1px solid #f6f6f6">
                    <label class="layui-form-label">
                        系统设置
                    </label>
                    <div class="flex-box flex-1">
                        <input type="checkbox" name="" title="短信提醒设置" lay-skin="primary">
                        <input type="checkbox" name="" title="微信提醒设置" lay-skin="primary">
                        <input type="checkbox" name="" title="日志管理" lay-skin="primary">
                    </div>
                </div>
            </form>
        </div>
    </div>   
</body>

<script src="__ADMINJS__/js/jquery-2.1.4.min.js"></script>
<!-- layui 1.0.9版本 -->
<script type="text/javascript" src="__ADMINJS__/layui/layui.js"></script>

<script src="__ADMINJS__/js/role_mana.js"></script>
</html>