<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>垃圾桶管理</title>
    <link rel="stylesheet" href="__LAYUICSS__/layui.css">
    <link rel="stylesheet" href="__ADMINCSS__/ssbase.css">
    <link rel="stylesheet" href="__ADMINCSS__/style.css">
    <style>
    
    </style>
</head>
<body>
    <span class="layui-breadcrumb" lay-separator="/" >
        <a href="">基本信息</a>
        <a href="">垃圾桶管理</a>
    </span>
    <div class="topLine">
        <div class="layui-form" action="">
            <div class="layui-input-block flex-box flex-b" style="margin: 0;padding: 0;">
                <div>
                    <input type="checkbox" name="sb" title="已绑定设备" lay-skin="primary">
                    <input type="checkbox" name="sb" title="未绑定设备" lay-skin="primary"><br/>
                    <input type="checkbox" name="sb" title="已绑定环卫工" lay-skin="primary">
                    <input type="checkbox" name="sb" title="未绑定环卫工" lay-skin="primary">
                </div>
                <div style='margin-left: 330px' class="flex-box flex-2 flex-col-c">
                
                    <button style="margin-top: 0;margin-left: 20px" class="layui-btn layui-btn-small">查询垃圾桶列表</button>
                    <button style="margin-top: 0;" class="layui-btn layui-btn-small add_trash">添加垃圾桶</button>
                </div>
            </div>
            <div class="layui-input-block flex-box flex-3" style="margin:10px 0;padding: 0;">
                <select name="" id="" lay-verify="required">
                    <option value="0">上海市</option>
                    <option value="1">苏州市</option>
                    <option value="2">池州市</option>
                </select>
                <select name="" id="" lay-verify="required" >
                    <option value="0">徐汇区</option>
                    <option value="1">嘉定区</option>
                    <option value="2">浦东新区</option>
                </select>
                <select name="" id="" lay-verify="required" >
                    <option value="0">龙华街道</option>
                    <option value="1">长风街道</option>
                    <option value="2">白银路</option>
                </select>
                <select name="" id="" lay-verify="required" >
                    <option value="0">班组1</option>
                    <option value="1">班组2</option>
                    <option value="2">班组3</option>
                </select>
            </div>
            <table class="layui-table">
                <colgroup>
                    <!-- 此处 width 按比例分割 -->
                    <col width="50">
                    <col width="150">
                    <col width="50">
                    <col width="50">
                    <col width="100">
                    <col width="150">
                    <col width="100">
                    <col width="100">
                </colgroup>
                <thead>
                    <tr>
                    <th>垃圾桶编号</th>
                    <th>对应区域</th>
                    <th>长宽高</th>
                    <th>经纬度</th>
                    <th>绑定设备</th>
                    <th>设备操作</th>
                    <th>已绑定环卫工数量</th>
                    <th>垃圾桶管理</th>

                    </tr> 
                </thead>
                <tbody class="tbody">
                    <tr>
                        <td>123456</td>
                        <td>
                            <span class='city'>上海市</span>-
                            <span class='area'>徐汇区</span>-
                            <span class="street">龙华街道</span>
                        </td>
                        <td>14*5*3</td>
                        <td>123,456</td>
                        <td>IEMI23/未绑定</td>
                        <td>
                            <button type="button" class="layui-btn layui-btn-danger layui-btn-small">绑定</button>
                            <button type="button" class="layui-btn layui-btn-danger layui-btn-small">解绑</button>
                        </td>
                        <td class="flex-box flex-a flex-col-c">
                            <span>4</span> 
                            <button type="button" class="layui-btn layui-btn-normal layui-btn-small">管理</button>
                        </td>
                        <td>
                            <button type="button" class="layui-btn layui-btn-normal layui-btn-small reset_trash">修改</button>
                        </td>
                    </tr>
                   
                </tbody>
            </table> 
            <div class="layui-elem-quote" style="padding: 5px 0;">
                &nbsp;&nbsp;查询到设备总数：<span class="len"></span>
                &nbsp;&nbsp; &nbsp;&nbsp;<div id="demo9" style="display: inline-block;"></div>
            </div>
        </div>
    </div>   
</body>
<!-- 添加设备 -->
<div id="addTrash" style="display: none;">
    <form class="layui-form" id="" action=""> 
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                区域
            </label>
            <div class=" flex-box flex-b">
                <select name="" id="" lay-verify="required">
                    <option value="">上海市</option>
                    <option value="1">苏州市</option>
                    <option value="2">天津市</option>
                </select>
                <select name="" id="" lay-verify="required">
                    <option value="">区县选择</option>
                    <option value="1">徐汇区</option>
                    <option value="2">普陀区</option>
                </select>
                <select name="" id="" lay-verify="required">
                    <option value="">街道选择</option>
                    <option value="1">龙华街道</option>
                    <option value="2">长风街道</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                垃圾桶编号
            </label>
            <div class="layui-input-inline">
                <input type="index" name="" class="layui-input" required lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                地址
            </label>
            <div class="layui-input-inline">
                <input type="index" name="" class="layui-input" required lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                经度
            </label>
            <div class="layui-input-inline">
                <input type="index" name="" class="layui-input" required lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                维度
            </label>
            <div class="layui-input-inline">
                <input type="index" name="" class="layui-input" required lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                高德坐标
            </label>
            <div class="layui-input-inline">
                <input type="index" name="" class="layui-input" required lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                长宽高
            </label>
            <div class="layui-input-inline">
                <input type="index" name="" class="layui-input" required lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                设备安装高度
            </label>
            <div class="layui-input-inline">
                <input type="index" name="" class="layui-input" required lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                联通编号
            </label>
            <div class="layui-input-inline">
                <input type="index" name="" class="layui-input" required lay-verify="required">
            </div>
        </div>
    </form>
</div>
<!-- 设备信息修改 -->
<div id="resetTrash" style="display: none;">
    <form class="layui-form" id="" action=""> 
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                区域
            </label>
            <div class=" flex-box flex-b">
                <select name="T_city" id="" lay-verify="required">
                    <option value="">市选择</option>
                    <option value="1">上海市</option>
                    <option value="2">天津市</option>
                </select>
                <select name="T_area" id="" lay-verify="required">
                    <option value="">区县选择</option>
                    <option value="1">徐汇区</option>
                    <option value="2">普陀区</option>
                </select>
                <select name="T_street" id="" lay-verify="required">
                    <option value="">街道选择</option>
                    <option value="1">龙华街道</option>
                    <option value="2">长风街道</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                垃圾桶编号
            </label>
            <div class="layui-input-inline">
                <input type="index" name="" class="layui-input" required lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                地址
            </label>
            <div class="layui-input-inline">
                <input type="index" name="" class="layui-input" required lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                经度
            </label>
            <div class="layui-input-inline">
                <input type="index" name="" class="layui-input" required lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                维度
            </label>
            <div class="layui-input-inline">
                <input type="index" name="" class="layui-input" required lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                高德坐标
            </label>
            <div class="layui-input-inline">
                <input type="index" name="" class="layui-input" required lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                长宽高
            </label>
            <div class="layui-input-inline">
                <input type="index" name="" class="layui-input" required lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                设备安装高度
            </label>
            <div class="layui-input-inline">
                <input type="index" name="" class="layui-input" required lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">
                联通编号
            </label>
            <div class="layui-input-inline">
                <input type="index" name="" class="layui-input" required lay-verify="required">
            </div>
        </div>
    </form>
</div>
<script src="__COMMONJS__/jquery-2.1.4.min.js"></script>
<!-- layui 1.0.9版本 -->
<script type="text/javascript" src="__ADMINJS__/layui/layui.js"></script>

<script src="__ADMINJS__/js/trash_mana.js"></script>
</html>