<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报警管理</title>
    <link rel="stylesheet" href="__LAYUICSS__/layui.css">
</head>
<body>
<table class="layui-table" lay-even="">
    <thead>
    <tr>
        <th>报警接收人</th>
        <th>报警接收手机号</th>
        <th>报警人级别</th>
        <th>最近一次报警时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="display: none">1</td>
        <td>啊啊啊</td>
        <td>巴巴爸爸</td>
        <td>春春春春错</td>
        <td>的点点滴滴</td>
        <td><button id="upt">修改</button>
            <button id="del">删除</button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>