<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报警管理</title>
    <link rel="stylesheet" href="__LAYUICSS__/layui.css">
</head>
<body>
<table class="layui-table" lay-even="">
    <thead>
    <tr>
        <th>报警接收人</th>
        <th>报警接收手机号</th>
        <th>报警人级别</th>
        <th>最近一次报警时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <form>
        <tr>
            {volist name='res' id='vo'}
            <td style="display: none">{$vo.id}</td>
            <td><input type="text" value="{$vo.name}"></td>
            <td><input type="text" value="{$vo.phone}"></td>
            <td>
                <select>
                    {foreach $levels as $val}
                    <option {if $vo.level eq $val} selected {/if}>{$val}</option>
                    {/foreach}
                </select>
            </td>
            <td>{$vo.time}</td>
            <td><button id="upt">修改</button>
                <button id="del">删除</button>
            </td>
            {/volist}
        </tr>
    </form>
    </tbody>
</table>
</body>
</html>