{extend name="layoutextend"}
{block name="title"}查询{$title}{/block}
{block name="css"}
<link rel="stylesheet" href="/static/common/css/styles.css">
<link rel="stylesheet" href="/static/index/css/style.css">
<style>
    html,body{width: 100%;height:100%;overflow: auto}
    .classify>div{width: 120px;border: 1px solid #999;margin: 20px;text-align: center;border-radius: 5px}
    .classify>div:hover{box-shadow:0 0 10px #a2a2a2}
    .classify>div>img{width: 30%}
    ::-webkit-scrollbar{display: none}
</style>
{/block}
{block name="main"}
    <div id="headbar"></div>

    <!-- 垃圾数量统计表 -->
    <div class="pa-10" role="form" style="margin-bottom: 120px;">
        <h2>{$title}</h2>

        <div class="form-group">
            <label style="width: 100px;">时间范围：</label>
            <select name="" class="form-control">
                <option value="" selected>按日</option>
                <option value="">按周</option>
                <option value="">按月</option>
            </select>
        </div>
        <div class="form-group flex-box flex-b flex-col-c">
                <div class="iDate date">
                    <input type="text">
                    <button type="button" class="addOn"></button>
                </div>
                <span style="color: #666">开始--结束</span>
                <div class="iDate date">
                    <input type="text">
                    <button type="button" class="addOn"></button>
                </div>

        </div>
        <div class="form-group ">
            <label style="width: 100px;">区域选择：</label>
            <select name="" class="form-control" style="margin-bottom: 5px">
                <option value="" selected>上海市</option>
                <option value="">天津市</option>
            </select>
            <select name="" class="form-control" style="margin-bottom: 5px">
                <option value="" selected>长宁区</option>
                <option value="">徐汇区</option>
            </select>
            <select name="" class="form-control" style="margin-bottom: 5px">
                <option value="" selected>天山街道</option>
                <option value="">龙华街道</option>
            </select>
            <select name="" class="form-control">
                <option value="" selected>所有班组</option>
                <option value="">班组1</option>
                <option value="">班组1</option>
                <option value="">班组1</option>
                <option value="">班组1</option>
                <option value="">班组5</option>

            </select>
        </div>
        <a href="{$url}">
            <button type="button" class="btn" style="float: right;width: 150px;background: #5BC0DE;color: #fff">查看结果</button>
        </a>


    </div>
    <div id="footbar"></div>
{/block}
{block name="js"}
<script src="/static/common/js/moment.js"></script>
<script src="/static/common/js/bootstrap-datetimepicker.js"></script>
<script>
if($(".iDate.date").length>0){
    $(".iDate.date").datetimepicker({
        locale:"zh-cn",
        format:"YYYY-MM-DD",
        dayViewHeaderFormat:"YYYY年 MMMM"
    });
}
</script>
{/block}