{extend name="layoutextend"}
{block name="title"}垃圾数量统计表{/block}
{block name="css"}
<link rel="stylesheet" href="/static/index/css/style.css">
{/block}
{block name="main"}
    <div id="headbar"></div>

    <!-- 垃圾数量统计表 -->
    <div class="pa-10" role="form" class="trashTj" style="margin-bottom: 120px;">
        <div class="maLeft">
            <h2>垃圾数量统计表</h2>
                           
        </div>
        <div class="maLeft">
            <span>时间：</span><span>2018/10/10-2018/10/30</span>
        </div>
        <div class="maLeft flex-box flex-b">
            <p>
            <span>区域：</span><span>上海市-&gt;徐汇区-&gt;龙华街道</span>
            </p>
            <a href="#" onclick="javascript:history.back(-1);">
                <button type="button" class="btn btn-xs btn-info">查询修改</button>
            </a>    
        </div>
        <button type="button" class="btn-danger toggleTable">切换<br/>图表</button>
        <!-- 折线图 -->
        
        <div id="trashNumTable" class="showhide1">
            
        </div>
        <!-- 饼图 -->
        <div id="trashBingTable" class="showhide2" style="visibility: hidden;">

        </div>
    </div>
{/block}
{block name="js"}
<script src="/static/common/js/echarts.common.min.js"></script>

<script>
    var bel = 0;
    $(".toggleTable").click(function(){
        bel++;
        if(bel%2 == 0){
            $(".showhide1").show();
            $(".showhide2").hide();
        }else{
            $(".showhide1").hide();
            $(".showhide2").css("visibility","visible").show();
        }

    });
    var trashnumtable = document.getElementById("trashNumTable");
    var zheline = echarts.init(trashnumtable);
    var trashoption = {
        title: {
            text: ''
        },
        tooltip: {
            trigger: 'axis'
        },

        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                // saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['周一','周二','周三','周四','周五','周六','周日']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name:'邮件营销',
                type:'line',
                stack: '总量',
                data:[120, 132, 101, 134, 90, 230, 210]
            },
            {
                name:'联盟广告',
                type:'line',
                stack: '总量',
                data:[220, 182, 191, 234, 290, 330, 310]
            },
            {
                name:'视频广告',
                type:'line',
                stack: '总量',
                data:[150, 232, 201, 154, 190, 330, 410]
            },
            {
                name:'直接访问',
                type:'line',
                stack: '总量',
                data:[320, 332, 301, 334, 390, 330, 320]
            },
            {
                name:'搜索引擎',
                type:'line',
                stack: '总量',
                data:[820, 932, 901, 934, 1290, 1330, 1320]
            }
        ]
    };
    zheline.setOption(trashoption);


    // <!-- 饼图 -->
    var trashBing = document.getElementById("trashBingTable");
    var bingImg = echarts.init(trashBing);
    var Bingoption = {
        title : {
            // text: '某站点用户访问来源',
            // subtext: '纯属虚构',
            // x:'center'
        },
        tooltip : {
            trigger: 'item',
            // formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
        },
        series : [
            {
                name: '访问来源',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {value:335, name:'直接访问'},
                    {value:310, name:'邮件营销'},
                    {value:234, name:'联盟广告'},
                    {value:135, name:'视频广告'},
                    {value:1548, name:'搜索引擎'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    bingImg.setOption(Bingoption);
</script>
{/block}