@charset "utf-8";

/* Reset */
html{ -webkit-tap-highlight-color:rgba(0,0,0,0);}
body{ font-family:'Nanum Gothic',/*'Nanum Gothic','Malgun Gothic','맑은 고딕','돋움','dotum',*/'AppleGothic','sans-serif'; font-size:14px; font-weight:400; color:#555555; line-height:1.5;}
a{ color:#555555; text-decoration:none;outline: none}
*,*:before,*:after{ -webkit-box-sizing:border-box; box-sizing:border-box; margin:0; padding:0; -webkit-text-size-adjust:none;}
h1,h2,h3,h4,h5,h6,input,select,textarea,button{ font-size:inherit;}
input,select,textarea,button{ font-family:inherit; vertical-align:middle;}
img,form,iframe,fieldset,table,table th,table td{ border:0 none;}
a,input,select,textarea,button{ outline:none;}
img{ max-width:100%; vertical-align:middle; -ms-interpolation-mode:bicubic;}
ul,ol{ list-style:none;}
i,em,address{ font-style:normal;}
h1,h2,h3,h4,h5,h6,th,strong,b{ font-weight:700;}
iframe{ display:block;}
sub,sup{ position:relative; vertical-align:baseline; font-size:75%; line-height:0;}
sub{ bottom:-5px;}
sup{ top:-5px;}
header,footer{margin: 0;padding: 0}
/*table{ table-layout:fixed; width:100%; border-collapse:collapse; border-spacing:0;}*/
legend,[hidden],template,caption{ display:none;}
textarea{ resize:none;}
label,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="image"]{ cursor:pointer;}
button[disabled],html input[disabled]{ cursor:default;}
button,select,textarea,input[type="text"],input[type="password"],input[type="tel"],input[type="email"],input[type="button"],input[type="reset"],input[type="submit"]{ border-radius:0; -webkit-appearance:none; -moz-appearance:none;}
a:hover{text-decoration: none;outline: none}
html{font-size: 20px;}

a:link{outline: none;text-decoration: none}
a:visited{outline: none;text-decoration-color: #1296db}
a:hover{outline: none;}
a:active{outline: none;text-decoration:none}
html{font-size: 20px;}


/* 主色调  #32C2B8 */

/* 登录 */
.forgot a{
    margin-top:20px;
    font-size: 14px;
    color: skyblue;
}
.login_btn{
    width: 100%;
    color: #fff;
    padding: 4px;
    text-align: center;
    border-radius: 5px;
    background: rgba(69,190,240,300);
}
.con_body{
    width: 400px;
    background: #fff;
    margin:100px auto;
    font-size: 20px;
    color: #1AA8E3;
    box-shadow:0 0 10px #999;
    border-radius: 5px;
    padding: 10px
}
/* 头部 */
header{background: #32C2B8;padding: 4px 0;color:#fff}
.head{width: 80%;margin: 0 auto;}
.head a{font-size: 32px;font-weight: 400;color: #fff}
.head span>p{display: inline-block;color: #f00}

/* 脚部 */
footer{position: absolute;bottom: 0;left: 0;width: 100%;border-top: 1px solid #dcdcdc;background: #dcdcdc;z-index:10000;}
.foot{width: 80%;margin: 0 auto}
.foot img{width: 50%}

/* 主页 */
html,body{width: 100%;height:100%;overflow: hidden;}
#con{width: 100%;height: 100%;position: relative}
.reload{position: absolute;left: 10px;bottom:120px;z-index: 10000;background: #fff}
.roadline{position: absolute;right: 10px;bottom:120px;z-index: 10000;background: #fff}
html,body #con>#container{
    height:100%;
}

.toggleTable{width: 50px;height: 50px;text-align: center;line-height: 14px;border-radius: 50%;position: absolute;top: 150px;right: 10px;z-index: 99999}

/* 垃圾数量统计图表 */
.showhide1{width: 70%;height: 400px;margin: 0 auto}
.showhide2{width: 70%;height: 400px;margin: 0 auto}
.maLeft{margin-left: 10%}
@media(max-width:1200px)
{


}
@media(max-width: 704px)
{


}
@media(max-width:619px){
	html{font-size: 16px}
    .head{width: 95%}
    .head a{font-size: 20px;font-weight: 400}
    .foot{width:95%;}

    .showhide1{width: 98%;height:300px;}
    .showhide2{width: 98%;height:300px;}

    .maLeft{margin-left: 0;}
    .con_body{width: 95%}
}
@media(max-width:500px)
{

}
@media(max-width: 409px)
{

}


